{% extends './base.html' %}
{% block content %}
<style>
.content{
    width: 52% !important;
}
td a:visited{
    color:blueviolet !important;
}
td a:hover{
    color:#c1c117 !important;
}
[rightshift]{
    position: absolute;
    right: 0;
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
<form method="post" class="form-validate" action="/viewprofile{% if formData.update_id %}/{{formData.update_id}}{% endif %}">
<div class="row highlight" style="padding-top:2%;border-radius: 2%;">
    <h3 class="page-heading">Withdraw Amount</h3>
    <div class="col-md-8" style="padding: 3%;">
        <div class="form-group">
            <label for="customer_id">Customer Id : </label> 
            <label rightshift >{{formData.account_obj.customer_id}}</label>
        </div>
        <div class="form-group">
            <label for="account_id">Account Id : </label> 
            <label rightshift>{{formData.account_obj.id}}</label>
        </div>
        <div class="form-group">
            <label for="account_id">Account Type : </label> 
            <label rightshift> {% if formData.account_type_list and formData.account_type_list[formData.account_obj.account_type|string]%}
            {{formData.account_type_list[formData.account_obj.account_type|string]}}{% else %}--------
            {% endif %}</label>
        </div>
        <div class="form-group">
            <label for="account_id">Balance : </label> 
            <label rightshift >{{formData.account_obj.amount}}</label>
        </div>

        {# cash action use to validate javscript validation #} 
        <input type="hidden" id="balance" value="{{formData.account_obj.amount}}"/>
        <input type="hidden" id="cash_action" value="withdraw_amount"/>
        <input type="hidden" id="source_account_id" value="{{formData.account_obj.id}}"/>

        <div class="form-group">
            <label for="account_id">Withdraw Amount : </label> 
            <input class="form-control" name="withdraw_amount" id="withdraw_amount" value=""/> 

            <label id="amount_error" class="validation-error-label" for="amount_error" style="display:none;">Please fill only digit and check enter amount is not greater then account amount</label>        
        </div>        

        {# Withdraw , Deposit and Transfer Amount Button#}
        <button type="button" class="btn btn-success" id="withdraw" onclick="return opearationAmount(this.id);">Withdraw</button>            

        <button type="button" class="btn btn-warning" id="cancel" onclick="return window.history.back();">Cancel</button>                
        </div>                 
    </div>   

    </div>
</div>
</form>

<script>

   function opearationAmount(id){        
        if (validate_cash_transaction()){
            var amount = $('#withdraw_amount').val();
            executeOperation(1,amount);
        }        
    }
    
</script>
{% endblock content %}