{% extends './base.html' %}
{% block content %}
<style>
.content{
    width: 52% !important;
}
td a:visited{
    color:blueviolet !important;
}
td a:hover{
    color:#c1c117 !important;
}
</style>
<form method="post" class="form-validate" action="{{formData.post_url}}">
<div class="row highlight" style="padding-top:2%;border-radius: 2%;">
    <h3 class="page-heading">Search Customer</h3>
    <div class="col-md-8" style="padding: 3%;">
        <div class="form-group">
            <label for="customer_id">Customer Id : </label> 
            <input value="" class="form-control" name="customer_id" id="customer_id" data-rule-requiredCustomerSearch="true"/>
        </div>         
        <h3 style="text-align:center;">Or</h3>  
        <div class="form-group" style="float:clear;">            
            <label for="customer_ssn_id">Customer SSN ID : </label> 
            <input value="" class="form-control" name="customer_ssn_id" id="ssn_id" data-rule-requiredCustomerSearch="true"/>        
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>       
</div>
</form>
{% endblock content %}